@font-face {
  font-family: ProximaNova;
  src: url('../fonts/Proxima-Nova.eot');
  src: url('../fonts/Proxima-Nova.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova.woff') format('woff'),
    url('../fonts/Proxima-Nova.ttf') format('truetype');
}

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/Proxima-Nova-Bold.eot');
  src: url('../fonts/Proxima-Nova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova-Bold.woff') format('woff'),
    url('../fonts/Proxima-Nova-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/Proxima-Nova-Italic.eot');
  src: url('../fonts/Proxima-Nova-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Proxima-Nova-Italic.woff') format('woff'),
    url('../fonts/Proxima-Nova-Italic.ttf') format('truetype');
  font-style: italic;
}
