$backgroundGray: #000;
$sectionBackground: #c0ecff;
$black: #000;
$white: #FFF;
$aqua: #00758e;
$hotPink: #FD1F6D;
$nodeBorderColor: #002aff;
$nodeBorderHoverColor: #001ba3;
$nodeBackgroundHoverColor: #b5ffbe;
$nodeTextColor: #666;

$defaultFontColor: #0f2346;

$headerHeight: 4em;
$treePadding: 0.75rem;
$sectionMargin: 10px;


